*.kate-swps
*.kate-swp
iverieli/dataset/
iverieli/__pychache__/
iverieli/iverieli_text_corpus.txt
labeler/chars
labeler/labels
server/__pycache__/
server/.pytest_cache
server/test/
server/model.h5
server/files/
